[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
gunicorn = "*"
python-decouple = "*"
whitenoise = "*"
pillow = "*"
django-utils-six = "*"
django-heroku = "*"
psycopg2-binary = "*"
django = "==3.2.9"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
