{% extends 'layout.html' %} {% load static %} {% block body %}
<div>
  <header>
    <a href="{% url 'admin' %}">Admin</a>
  </header>
</div>
<div>
  <div class="task_container">
    <h2>Tasks!</h2>
    <ul>
        {% for todo in todos %}
          <li>{{ todo }}</li>
        {% empty %}
          <li>No Tasks</li>
        {% endfor %}
    </ul>
  </div>
  <a href="{% url 'add-task' %}">Add Tasks</a>
  <div>
    
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Log out</a>
      <p><a href="{% url 'password_change' %}">Change your password</a></p>
    {% endif %}
  </div>
  <div class="form">
    <h1>Add Task!</h1>
  <form autocomplete="off" action="{% url 'add-task' %}" method="POST">
    {% csrf_token %}
    <div>
      {{ form.as_p }}
    </div>

      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
{% endblock %}
